@import "@/styles/_apx-variables.scss";

.hamburger {

  height: $apx-50;
  width: $apx-50;
  transition: transform 0.2s;
  position: relative;

  & svg {

    width: $apx-50;
    height: $apx-50;

  }

}

.hamburger .checkbox {

  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;

}

.line {

  transition: 0.2s;
  stroke-width: 3px;
  stroke: white;

}

.lineTop {

  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;

}

.lineBottom {

  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;

}

.lineMid {

  stroke-dasharray: 40 40;

}

.hamburger .checkbox:checked + svg .line {

  stroke: crimson;

}

.hamburger .checkbox:checked + svg .lineTop {

  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);

}

.hamburger .checkbox:checked + svg .lineMid {

  stroke-dashoffset: 40;

}

.hamburger .checkbox:checked + svg .lineBottom {

  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);

}
