@import "@/styles/_apx-variables.scss";

.aboutSection {

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: $apx-35;
  margin: $apx-100 0 $apx-50 0;

  width: 100vw;
  height: max-content;

}