@import "apx-variables";
@import "colors";

html {

  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*::before,
*::after {

  box-sizing: border-box;

}

input,
button,
select,
textarea,
optgroup,
option {

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;

}

a:visited {

  color: inherit;

}

body {

  margin: 0;
  padding: 0;
  background-color: var(--color-light-100);

}

body::-webkit-scrollbar {

  display: none;

}

p {
  margin: 0;
}

.ant-notification-notice-wrapper {

  border-radius: $apx-10 !important;


  .ant-notification-notice {

    background-image: linear-gradient(to right, #d9d9d9 0%, #bebebe 100%);
    border-radius: $apx-10 !important;

    .ant-notification-notice-message {

      font-size: $apx-17 !important

    }

  }

}