@import "@/styles/_apx-variables.scss";

.header {

  background-image: url('../../../public/img/header-photo.png');
  width: $apx-1920;
  height: $apx-993;

  display: flex;
  flex-direction: column;
  padding: $apx-80;

}