@import "@/styles/_apx-variables.scss";

.contactsSection {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {

    font-size: $apx-120;
    color: #F8F8F8;
    line-height: $apx-180;
    text-transform: uppercase;

  }

  &__description {

    font-size: $apx-17;
    color: #555555;
    line-height: $apx-40;
    font-weight: 400;
    letter-spacing: $apx-1;
    margin-bottom: $apx-60;

  }

  &__button {


    width: $apx-300;
    height: $apx-80;
    border-radius: $apx-12;
    letter-spacing: $apx-3;
    font-size: $apx-19;
    color: #555555;

  }

}