@import "@/styles/_apx-variables.scss";

.logo {

  position: relative;
  display: flex;
  align-items: flex-end;

  color: var(--color-light-100);
  font-weight: 800;
  font-size: $apx-36;

  background: #C0C0C0;


  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &__dot {

    position: absolute;
    right: -$apx-10;
    bottom: $apx-10;

    width: $apx-6;
    height: $apx-6;
    border-radius: 50%;
    background-color: #FFCF45;

  }

}