@import "@/styles/_apx-variables.scss";

.portfolioSection {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: $apx-200;

  &__title {

    font-size: $apx-120;
    color: #F8F8F8;
    line-height: $apx-180;
    text-transform: uppercase;
    margin-bottom: $apx-70;

  }

  &__works {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 236vh;
    gap: $apx-62;

    &__block {

      display: flex;
      flex-direction: column;
      gap: $apx-62;

      &__work {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: $apx-18;
        width: max-content;

        &:hover {

          & > div {

            cursor: pointer;

          }

        }

        &__img_wrapper_one,
        &__img_wrapper_two,
        &__img_wrapper_three,
        &__img_wrapper_four,
        &__img_wrapper_five,
        &__img_wrapper_six {

          position: relative;
          width: $apx-600;

        }

        &__img_wrapper_one {

          height: $apx-733;

        }

        &__img_wrapper_two {

          height: $apx-733;

        }

        &__img_wrapper_three {

          height: $apx-506;

        }

        &__img_wrapper_four {

          height: $apx-400;

        }

        &__img_wrapper_five {

          height: $apx-619;

        }

        &__img_wrapper_six {

          height: $apx-619;

        }

        &__title {

          font-weight: 400;
          font-size: $apx-26;
          line-height: $apx-27;
          color: black;
          letter-spacing: $apx-1;
          text-decoration: underline solid #000000 $apx-3;
          text-underline-offset: $apx-12;
          transition: transform 0.5s ease;

          &:hover {


            cursor: pointer;
            transform: scale(1.03);


          }

        }

      }

    }

  }

}